# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
go-workspace

.pnp.js

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_vendor/
vendor/
bin/
# Ignore all .exe and .dll files in the root of the repository
*.exe
*.dll

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-specific directories
.idea/
.vscode/

# Dependency directories
go.sum
go.mod
